In [7]:
from os import path
from pandas import read_csv

In [8]:
daily_production = path.expanduser(
    '~/Documents/Hackathon/AgileSprint2018/VolveProductionData/Daily Production Data-Table 1.csv')
montly_production = path.expanduser(
    '~/Documents/Hackathon/AgileSprint2018/VolveProductionData/Monthly Production Data-Table 1.csv')

In [14]:
daily = read_csv(daily_production)
monthly = read_csv(montly_production)

In [13]:
daily[:5]

,DATEPRD,WELL_BORE_CODE,NPD_WELL_BORE_CODE,NPD_WELL_BORE_NAME,NPD_FIELD_CODE,NPD_FIELD_NAME,NPD_FACILITY_CODE,NPD_FACILITY_NAME,ON_STREAM_HRS,AVG_DOWNHOLE_PRESSURE,...,AVG_CHOKE_UOM,AVG_WHP_P,AVG_WHT_P,DP_CHOKE_SIZE,BORE_OIL_VOL,BORE_GAS_VOL,BORE_WAT_VOL,BORE_WI_VOL,FLOW_KIND,WELL_TYPE
0,07-Apr-14,NO 15/9-F-1 C,7405,15/9-F-1 C,3420717,VOLVE,369304,MÆRSK INSPIRER,0.0,0.000,...,%,0.000,0.00,0.000,0,0,0,NaN,production,WI
1,08-Apr-14,NO 15/9-F-1 C,7405,15/9-F-1 C,3420717,VOLVE,369304,MÆRSK INSPIRER,0.0,NaN,...,%,0.000,0.00,0.000,0,0,0,NaN,production,OP
2,09-Apr-14,NO 15/9-F-1 C,7405,15/9-F-1 C,3420717,VOLVE,369304,MÆRSK INSPIRER,0.0,NaN,...,%,0.000,0.00,0.000,0,0,0,NaN,production,OP
3,10-Apr-14,NO 15/9-F-1 C,7405,15/9-F-1 C,3420717,VOLVE,369304,MÆRSK INSPIRER,0.0,NaN,...,%,0.000,0.00,0.000,0,0,0,NaN,production,OP
4,11-Apr-14,NO 15/9-F-1 C,7405,15/9-F-1 C,3420717,VOLVE,369304,MÆRSK INSPIRER,0.0,310.376,...,%,33.098,10.48,33.072,0,0,0,NaN,production,OP

In [15]:
monthly[:5]

,Wellbore name,NPDCode,Year,Month,On Stream,Oil,Gas,Water,GI,WI
0,NaN,NaN,NaN,NaN,hrs,Sm3,Sm3,Sm3,Sm3,Sm3
1,15/9-F-1 C,7405.0,2014.0,4.0,228,"11,142","1,597,937",0,NaN,NaN
2,15/9-F-1 C,7405.0,2014.0,5.0,734,"24,902","3,496,230",783,NaN,NaN
3,15/9-F-1 C,7405.0,2014.0,6.0,706,"19,618","2,886,662","2,068",NaN,NaN
4,15/9-F-1 C,7405.0,2014.0,7.0,742,"15,086","2,249,366","6,244",NaN,NaN